---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<section class="flex flex-row w-auto m-16 px-6 py-12 bg-secondary-light">
			<div class="flex flex-col w-[60%] mx-auto">
				<h1 class="mx-auto text-center -indent-12">
					🧣Welcome to
					<br />
					<span class="font-bold">"Proposterious Domain"</span>
				</h1>
				<p>
					Welcome to my domain! You can learn more about it in the <a href="/about">About</a> section or view the author's projects
					in the <a href="/projects">Projects</a> section. Otherwise, you can continue scrolling here to get an overview of my <b>Domain</b>.
				</p>
			</div>
		</section>
		<Footer />
	</body>
</html>
